.container h2 {
    color: var(--light-mode-hl);
    font-size: 1.6em;
}

#dark .container h2 {
    color: var(--dark-mode-hl);
}

.gallery {
    width: 100%;
    height: 75%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto, auto;
    justify-content: center;
    align-content: center;
    grid-gap: 30px 30px;
}

.slider-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.left-arrow {
    margin-right: 30px;
}

.right-arrow {
    margin-left: 30px;
}

#dark .left-arrow, #dark .right-arrow {
    color: var(--dark-mode-hl);
}

.left-arrow, .right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    color: var(--light-mode-hl);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -4px -4px 5px rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

.left-arrow:hover, .right-arrow:hover {
    box-shadow: 3px 3px 5px inset rgba(0, 0, 0, 0.5), -4px -4px 5px inset rgba(255, 255, 255, 0.6);
}