img {
    width: 300px;
    height: 150px;
}

.project-link {
    cursor: pointer;
}

.work-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 170px;
    padding: .5em;
    box-shadow: 3px 3px 5px inset rgba(0, 0, 0, 0.5), -4px -4px 5px inset rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.three {
    grid-column: 1 / 3;
    justify-self: center;

}

/* large screens */
@media only screen and (min-width: 1399px) {
    img {
        width: 400px;
        height: 225px;
    }

    .work-container {
        width: 420px;
        height: 245px;
    }
}

@media only screen and (min-width: 1699px) {
    img {
        width: 500px;
        height: 250px;
    }

    .work-container {
        width: 520px;
        height: 270px;
    }
}

@media only screen and (min-width: 1899px) {
    img {
        width: 600px;
        height: 300px;
    }

    .work-container {
        width: 620px;
        height: 320px;
    }
}

/* small screens */
@media only screen and (max-width: 740px) {
    img {
        width: 200px;
        height: 100px;
    }

    .work-container {
        width: 220px;
        height: 120px;
    }

}

@media only screen and (max-width: 530px) {
    .three {
        grid-column: auto;
    }
}